<div class="">
    <div class="col-sm-6">
        <h1> Past <b>Events</b></h1>
        <hr>
        <% @events.past.each do |event| %>
                <p>Title: <%= link_to event.title, event_path(event) %></p>
                <p>Created by: <%= event.creator.name %></p>
                <p><%= link_to button_tag("attend", class: "btn btn-primary"), attendance_path(id: event.id) %></p>
                <p>Date: <%= event.date.strftime("%B %d, %Y") %></p>
                <hr>
        <% end %>
    </div>
    <div class="col-sm-6">
        <h1> Upcoming <b>Events</b></h1>
        <hr>
        <% @events.upcoming.each do |event| %>
                <p>Title: <%= link_to event.title, event_path(event) %></p>
                <p>Created by: <%= event.creator.name %></p>
                <p><%= link_to button_tag("attend", class: "btn btn-primary"), attendance_path(id: event.id) %></p>
                <p>Date: <%= event.date.strftime("%B %d, %Y") %></p>
                <hr>
        <% end %>
    </div>
</div>