<div class="">
    <div class="col-sm-6">
        <h1> Past <b>Events</b></h1>
        <hr>
        <% @events.each do |event| %>
            <% if event.past %>
                <p>Title: <%= link_to event.title, event_path(event) %></p>
                <p>Created by: <%= event.creator.name %></p>
                <p><%= link_to "<button class="btn btn-primary">attend</button>", user_event(event.id)%></p>
                <p>Date: <%= event.date.strftime("%B %d, %Y") %></p>
                <hr>
            <% end %>
        <% end %>
    </div>
    <div class="col-sm-6">
        <h1> Upcoming <b>Events</b></h1>
        <hr>
        <% @events.each do |event| %>
            <% if event.upcoming%>
                <p>Title: <%= link_to event.title, event_path(event) %></p>
                <p>Created by: <%= event.creator.name %></p>
                <p><button class="btn btn-primary">attend</button></p>
                <p>Date: <%= event.date.strftime("%B %d, %Y") %></p>
                <hr>
            <% end %>
        <% end %>
    </div>
</div>